USE [datn]
GO
ALTER TABLE [dbo].[verification_code] DROP CONSTRAINT [FKn1v88epjv0xug2pr7nwamcboh]
GO
ALTER TABLE [dbo].[return_detail] DROP CONSTRAINT [FKkgwtlbgm9ho0njhx5nsq0s589]
GO
ALTER TABLE [dbo].[return_detail] DROP CONSTRAINT [FK1d0fsi5xn9qokf0vmd0ni28n]
GO
ALTER TABLE [dbo].[product_discount] DROP CONSTRAINT [FK7v5t5uc0v7ww6ro8pxoustui6]
GO
ALTER TABLE [dbo].[product_detail] DROP CONSTRAINT [FKilxoi77ctyin6jn9robktb16c]
GO
ALTER TABLE [dbo].[product_detail] DROP CONSTRAINT [FKcum8u2vfvebmmc4xo8de3k35s]
GO
ALTER TABLE [dbo].[product_detail] DROP CONSTRAINT [FK99vj2np1gk1robp8n6htiweii]
GO
ALTER TABLE [dbo].[product] DROP CONSTRAINT [FKw04fq456sc4tk26tnbhvr59o]
GO
ALTER TABLE [dbo].[product] DROP CONSTRAINT [FKs6cydsualtsrprvlf2bb3lcam]
GO
ALTER TABLE [dbo].[product] DROP CONSTRAINT [FK1mtsbur82frn64de7balymq9s]
GO
ALTER TABLE [dbo].[payment] DROP CONSTRAINT [FKhdc173udjyonn4mt1lgt1x2ce]
GO
ALTER TABLE [dbo].[image] DROP CONSTRAINT [FKgpextbyee3uk9u6o2381m7ft1]
GO
ALTER TABLE [dbo].[cart] DROP CONSTRAINT [FK874r4t3ct18p0rfjwdkn4p0xe]
GO
ALTER TABLE [dbo].[cart] DROP CONSTRAINT [FK4pljlvncf45mr98etwpubxvbt]
GO
ALTER TABLE [dbo].[bill_return] DROP CONSTRAINT [FKmt15w62mdy6k5x6i1a3297egn]
GO
ALTER TABLE [dbo].[bill_detail] DROP CONSTRAINT [FKeolgwyayei3o80bb7rj7t207q]
GO
ALTER TABLE [dbo].[bill_detail] DROP CONSTRAINT [FK5wgs68xq0wq0ebia10snilq9v]
GO
ALTER TABLE [dbo].[bill] DROP CONSTRAINT [FKqjtxrp32iyvl31q2cr3l3refa]
GO
ALTER TABLE [dbo].[bill] DROP CONSTRAINT [FKmn36kcnhdokvrm6ueo3raqi9k]
GO
ALTER TABLE [dbo].[bill] DROP CONSTRAINT [FKcdveik90g4pvk7m249scu73pg]
GO
ALTER TABLE [dbo].[address_shipping] DROP CONSTRAINT [FKq133otkfjvualo1uhtdimlsj0]
GO
ALTER TABLE [dbo].[account] DROP CONSTRAINT [FKnnwpo0lfq4xai1rs6887sx02k]
GO
ALTER TABLE [dbo].[account] DROP CONSTRAINT [FKd4vb66o896tay3yy52oqxr9w0]
GO
/****** Object:  Index [UK_k9qlqijt38kmryafdhhq04lon]    Script Date: 26/04/2026 12:04:42 CH ******/
ALTER TABLE [dbo].[account] DROP CONSTRAINT [UK_k9qlqijt38kmryafdhhq04lon]
GO
/****** Object:  Table [dbo].[verification_code]    Script Date: 26/04/2026 12:04:42 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[verification_code]') AND type in (N'U'))
DROP TABLE [dbo].[verification_code]
GO
/****** Object:  Table [dbo].[size]    Script Date: 26/04/2026 12:04:42 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[size]') AND type in (N'U'))
DROP TABLE [dbo].[size]
GO
/****** Object:  Table [dbo].[role]    Script Date: 26/04/2026 12:04:42 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[role]') AND type in (N'U'))
DROP TABLE [dbo].[role]
GO
/****** Object:  Table [dbo].[return_detail]    Script Date: 26/04/2026 12:04:42 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[return_detail]') AND type in (N'U'))
DROP TABLE [dbo].[return_detail]
GO
/****** Object:  Table [dbo].[product_discount]    Script Date: 26/04/2026 12:04:42 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[product_discount]') AND type in (N'U'))
DROP TABLE [dbo].[product_discount]
GO
/****** Object:  Table [dbo].[product_detail]    Script Date: 26/04/2026 12:04:42 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[product_detail]') AND type in (N'U'))
DROP TABLE [dbo].[product_detail]
GO
/****** Object:  Table [dbo].[product]    Script Date: 26/04/2026 12:04:42 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[product]') AND type in (N'U'))
DROP TABLE [dbo].[product]
GO
/****** Object:  Table [dbo].[payment_method]    Script Date: 26/04/2026 12:04:42 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[payment_method]') AND type in (N'U'))
DROP TABLE [dbo].[payment_method]
GO
/****** Object:  Table [dbo].[payment]    Script Date: 26/04/2026 12:04:42 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[payment]') AND type in (N'U'))
DROP TABLE [dbo].[payment]
GO
/****** Object:  Table [dbo].[material]    Script Date: 26/04/2026 12:04:42 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[material]') AND type in (N'U'))
DROP TABLE [dbo].[material]
GO
/****** Object:  Table [dbo].[image]    Script Date: 26/04/2026 12:04:42 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[image]') AND type in (N'U'))
DROP TABLE [dbo].[image]
GO
/****** Object:  Table [dbo].[discount_code]    Script Date: 26/04/2026 12:04:42 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[discount_code]') AND type in (N'U'))
DROP TABLE [dbo].[discount_code]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 26/04/2026 12:04:42 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[customer]') AND type in (N'U'))
DROP TABLE [dbo].[customer]
GO
/****** Object:  Table [dbo].[color]    Script Date: 26/04/2026 12:04:42 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[color]') AND type in (N'U'))
DROP TABLE [dbo].[color]
GO
/****** Object:  Table [dbo].[category]    Script Date: 26/04/2026 12:04:42 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[category]') AND type in (N'U'))
DROP TABLE [dbo].[category]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 26/04/2026 12:04:42 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[cart]') AND type in (N'U'))
DROP TABLE [dbo].[cart]
GO
/****** Object:  Table [dbo].[brand]    Script Date: 26/04/2026 12:04:42 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[brand]') AND type in (N'U'))
DROP TABLE [dbo].[brand]
GO
/****** Object:  Table [dbo].[bill_return]    Script Date: 26/04/2026 12:04:42 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[bill_return]') AND type in (N'U'))
DROP TABLE [dbo].[bill_return]
GO
/****** Object:  Table [dbo].[bill_detail]    Script Date: 26/04/2026 12:04:42 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[bill_detail]') AND type in (N'U'))
DROP TABLE [dbo].[bill_detail]
GO
/****** Object:  Table [dbo].[bill]    Script Date: 26/04/2026 12:04:42 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[bill]') AND type in (N'U'))
DROP TABLE [dbo].[bill]
GO
/****** Object:  Table [dbo].[address_shipping]    Script Date: 26/04/2026 12:04:42 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[address_shipping]') AND type in (N'U'))
DROP TABLE [dbo].[address_shipping]
GO
/****** Object:  Table [dbo].[account]    Script Date: 26/04/2026 12:04:42 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[account]') AND type in (N'U'))
DROP TABLE [dbo].[account]
GO
USE [datn]
GO
/****** Object:  Sequence [dbo].[hibernate_sequence]    Script Date: 26/04/2026 12:04:42 CH ******/
DROP SEQUENCE [dbo].[hibernate_sequence]
GO
USE [master]
GO
/****** Object:  Database [datn]    Script Date: 26/04/2026 12:04:42 CH ******/
DROP DATABASE [datn]
GO
/****** Object:  Database [datn]    Script Date: 26/04/2026 12:04:42 CH ******/
CREATE DATABASE [datn]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'datn', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\datn.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'datn_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\datn_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [datn].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [datn]
GO
USE [datn]
GO
/****** Object:  Sequence [dbo].[hibernate_sequence]    Script Date: 26/04/2026 12:04:43 CH ******/
CREATE SEQUENCE [dbo].[hibernate_sequence] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[account]    Script Date: 26/04/2026 12:04:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[birth_day] [datetime2](7) NULL,
	[code] [varchar](255) NULL,
	[create_date] [datetime2](7) NULL,
	[email] [varchar](255) NULL,
	[is_non_locked] [bit] NOT NULL,
	[password] [varchar](255) NULL,
	[update_date] [datetime2](7) NULL,
	[customer_id] [bigint] NOT NULL,
	[role_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[address_shipping]    Script Date: 26/04/2026 12:04:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[address_shipping](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](150) NOT NULL,
	[customer_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill]    Script Date: 26/04/2026 12:04:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[amount] [float] NULL,
	[billing_address] [nvarchar](255) NULL,
	[code] [varchar](50) NOT NULL,
	[create_date] [datetime2](7) NULL,
	[invoice_type] [varchar](255) NULL,
	[promotion_price] [float] NOT NULL,
	[return_status] [bit] NULL,
	[status] [varchar](255) NULL,
	[update_date] [datetime2](7) NULL,
	[customer_id] [bigint] NULL,
	[discount_code_id] [bigint] NULL,
	[payment_method_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill_detail]    Script Date: 26/04/2026 12:04:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_detail](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[moment_price] [float] NULL,
	[quantity] [int] NULL,
	[return_quantity] [int] NULL,
	[bill_id] [bigint] NULL,
	[product_detail_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill_return]    Script Date: 26/04/2026 12:04:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_return](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NULL,
	[is_cancel] [bit] NOT NULL,
	[percent_fee_exchange] [int] NULL,
	[return_date] [datetime2](7) NULL,
	[return_money] [float] NULL,
	[return_reason] [nvarchar](255) NULL,
	[return_status] [int] NOT NULL,
	[bill_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brand]    Script Date: 26/04/2026 12:04:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[status] [int] NOT NULL,
	[delete_flag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 26/04/2026 12:04:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[create_date] [datetime2](7) NULL,
	[quantity] [int] NOT NULL,
	[update_date] [datetime2](7) NULL,
	[account_id] [bigint] NULL,
	[product_detail_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 26/04/2026 12:04:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[status] [int] NOT NULL,
	[delete_flag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[color]    Script Date: 26/04/2026 12:04:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[color](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[delete_flag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 26/04/2026 12:04:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[phone_number] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discount_code]    Script Date: 26/04/2026 12:04:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discount_code](
	[id] [bigint] NOT NULL,
	[code] [nvarchar](255) NULL,
	[delete_flag] [bit] NOT NULL,
	[detail] [nvarchar](255) NULL,
	[discount_amount] [float] NULL,
	[end_date] [datetime2](7) NULL,
	[maximum_amount] [int] NULL,
	[maximum_usage] [int] NULL,
	[minimum_amount_in_cart] [float] NULL,
	[percentage] [int] NULL,
	[start_date] [datetime2](7) NULL,
	[status] [int] NOT NULL,
	[type] [int] NOT NULL,
 CONSTRAINT [PK__discount__3213E83F23371E16] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image]    Script Date: 26/04/2026 12:04:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[create_date] [datetime2](7) NULL,
	[file_type] [varchar](255) NULL,
	[link] [varchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[update_date] [datetime2](7) NULL,
	[product_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[material]    Script Date: 26/04/2026 12:04:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[material](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[status] [int] NOT NULL,
	[delete_flag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment]    Script Date: 26/04/2026 12:04:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[amount] [varchar](255) NULL,
	[order_id] [varchar](255) NULL,
	[order_status] [varchar](255) NULL,
	[payment_date] [datetime2](7) NULL,
	[status_exchange] [int] NULL,
	[bill_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_method]    Script Date: 26/04/2026 12:04:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_method](
	[id] [bigint] NOT NULL,
	[name] [varchar](255) NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 26/04/2026 12:04:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NULL,
	[create_date] [datetime2](7) NULL,
	[delete_flag] [bit] NOT NULL,
	[describe] [nvarchar](255) NULL,
	[gender] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
	[price] [float] NOT NULL,
	[status] [int] NOT NULL,
	[updated_date] [datetime2](7) NULL,
	[brand_id] [bigint] NULL,
	[category_id] [bigint] NULL,
	[material_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_detail]    Script Date: 26/04/2026 12:04:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_detail](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[barcode] [varchar](255) NULL,
	[price] [float] NOT NULL,
	[quantity] [int] NOT NULL,
	[color_id] [bigint] NULL,
	[product_id] [bigint] NULL,
	[size_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_discount]    Script Date: 26/04/2026 12:04:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_discount](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[closed] [bit] NOT NULL,
	[discounted_amount] [float] NULL,
	[end_date] [datetime2](7) NULL,
	[start_date] [datetime2](7) NULL,
	[product_detail_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[return_detail]    Script Date: 26/04/2026 12:04:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[return_detail](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[moment_price_refund] [float] NULL,
	[quantity_return] [int] NULL,
	[return_id] [bigint] NULL,
	[product_detail_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 26/04/2026 12:04:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[create_date] [datetime2](7) NULL,
	[name] [varchar](50) NOT NULL,
	[update_date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[size]    Script Date: 26/04/2026 12:04:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[size](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[delete_flag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[verification_code]    Script Date: 26/04/2026 12:04:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[verification_code](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NULL,
	[expiry_time] [datetime2](7) NULL,
	[account_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([id], [birth_day], [code], [create_date], [email], [is_non_locked], [password], [update_date], [customer_id], [role_id]) VALUES (3, CAST(N'2002-12-12T00:00:00.0000000' AS DateTime2), N'TK0001', CAST(N'2023-12-11T00:00:00.0000000' AS DateTime2), N'abc@gmail.com', 1, N'$2a$10$qSYJ26q5Fk6XourrT0UuNOPe6TmlIelQL2CL2.g2DZ1xtR1dESMWm', CAST(N'2002-12-12T00:00:00.0000000' AS DateTime2), 4, 1)
INSERT [dbo].[account] ([id], [birth_day], [code], [create_date], [email], [is_non_locked], [password], [update_date], [customer_id], [role_id]) VALUES (4, CAST(N'2002-12-12T00:00:00.0000000' AS DateTime2), N'TK0004', CAST(N'2023-11-12T00:00:00.0000000' AS DateTime2), N'Huy@gmail.com', 1, N'$2a$10$Ro2M2xmFAxSrQ.cC5XsFUe9sboYpBcwqUt9.xVeyKaWFqjwJ1UAhG', NULL, 5, 1)
INSERT [dbo].[account] ([id], [birth_day], [code], [create_date], [email], [is_non_locked], [password], [update_date], [customer_id], [role_id]) VALUES (5, CAST(N'2002-12-12T00:00:00.0000000' AS DateTime2), N'TK0005', CAST(N'2023-12-22T00:00:00.0000000' AS DateTime2), N'admin@gmail.com', 1, N'$2a$10$qSYJ26q5Fk6XourrT0UuNOPe6TmlIelQL2CL2.g2DZ1xtR1dESMWm', NULL, 6, 2)
SET IDENTITY_INSERT [dbo].[account] OFF
GO
SET IDENTITY_INSERT [dbo].[address_shipping] ON 

INSERT [dbo].[address_shipping] ([id], [address], [customer_id]) VALUES (1, N'So  1, Xã Đông Hiệp, Huyện Cờ Đỏ, Thành phố Cần Thơ', 1)
INSERT [dbo].[address_shipping] ([id], [address], [customer_id]) VALUES (2, N'So  1, Xã Hòa Bắc, Huyện Hòa Vang, Thành phố Đà Nẵng', 4)
INSERT [dbo].[address_shipping] ([id], [address], [customer_id]) VALUES (3, N'số 101, Thị trấn Phong Điền, Huyện Phong Điền, Thành phố Cần Thơ', 4)
SET IDENTITY_INSERT [dbo].[address_shipping] OFF
GO
SET IDENTITY_INSERT [dbo].[bill] ON 

INSERT [dbo].[bill] ([id], [amount], [billing_address], [code], [create_date], [invoice_type], [promotion_price], [return_status], [status], [update_date], [customer_id], [discount_code_id], [payment_method_id]) VALUES (1, 2050000, N'', N'HD001', CAST(N'2022-12-05T00:07:26.0407552' AS DateTime2), N'OFFLINE', 0, 0, N'HOAN_THANH', CAST(N'2023-12-05T00:07:26.0407552' AS DateTime2), 1, NULL, 3)
INSERT [dbo].[bill] ([id], [amount], [billing_address], [code], [create_date], [invoice_type], [promotion_price], [return_status], [status], [update_date], [customer_id], [discount_code_id], [payment_method_id]) VALUES (2, 2950000, N'', N'HD002', CAST(N'2022-11-05T00:07:40.7191845' AS DateTime2), N'OFFLINE', 0, 0, N'HOAN_THANH', CAST(N'2023-12-05T00:07:40.7191845' AS DateTime2), 1, NULL, 1)
INSERT [dbo].[bill] ([id], [amount], [billing_address], [code], [create_date], [invoice_type], [promotion_price], [return_status], [status], [update_date], [customer_id], [discount_code_id], [payment_method_id]) VALUES (3, 2430000, N'', N'HD003', CAST(N'2023-01-05T00:08:16.1920567' AS DateTime2), N'OFFLINE', 0, 0, N'HOAN_THANH', CAST(N'2023-12-05T00:08:16.1920567' AS DateTime2), 2, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[bill] OFF
GO
SET IDENTITY_INSERT [dbo].[bill_detail] ON 

INSERT [dbo].[bill_detail] ([id], [moment_price], [quantity], [return_quantity], [bill_id], [product_detail_id]) VALUES (1, 500000, 3, NULL, 1, 3)
INSERT [dbo].[bill_detail] ([id], [moment_price], [quantity], [return_quantity], [bill_id], [product_detail_id]) VALUES (2, 550000, 1, NULL, 1, 2)
INSERT [dbo].[bill_detail] ([id], [moment_price], [quantity], [return_quantity], [bill_id], [product_detail_id]) VALUES (3, 500000, 1, NULL, 2, 20)
GO
SET IDENTITY_INSERT [dbo].[bill_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[bill_return] ON 

INSERT [dbo].[bill_return] ([id], [code], [is_cancel], [percent_fee_exchange], [return_date], [return_money], [return_reason], [return_status], [bill_id]) VALUES (1, N'DT001', 0, 0, CAST(N'2023-12-05T23:39:13.4551022' AS DateTime2), -1040000, N'', 3, 15)
INSERT [dbo].[bill_return] ([id], [code], [is_cancel], [percent_fee_exchange], [return_date], [return_money], [return_reason], [return_status], [bill_id]) VALUES (2, N'DT002', 0, 0, CAST(N'2023-12-05T23:39:54.3171733' AS DateTime2), -600000, N'', 3, 17)
INSERT [dbo].[bill_return] ([id], [code], [is_cancel], [percent_fee_exchange], [return_date], [return_money], [return_reason], [return_status], [bill_id]) VALUES (3, N'DT003', 0, 0, CAST(N'2023-12-05T23:44:38.9790030' AS DateTime2), 900000, N'', 3, 14)
SET IDENTITY_INSERT [dbo].[bill_return] OFF
GO
SET IDENTITY_INSERT [dbo].[brand] ON 

INSERT [dbo].[brand] ([id], [code], [name], [status], [delete_flag]) VALUES (1, N'LV', N'LuisVuton', 0, NULL)
INSERT [dbo].[brand] ([id], [code], [name], [status], [delete_flag]) VALUES (2, N'NK', N'Necken', 0, NULL)
INSERT [dbo].[brand] ([id], [code], [name], [status], [delete_flag]) VALUES (3, N'SM', N'SLIMFIT', 0, NULL)
SET IDENTITY_INSERT [dbo].[brand] OFF
GO
SET IDENTITY_INSERT [dbo].[cart] ON 

INSERT [dbo].[cart] ([id], [create_date], [quantity], [update_date], [account_id], [product_detail_id]) VALUES (73, CAST(N'2023-12-17T21:40:28.8312958' AS DateTime2), 1, CAST(N'2023-12-17T21:40:28.8312958' AS DateTime2), 13, 9)
INSERT [dbo].[cart] ([id], [create_date], [quantity], [update_date], [account_id], [product_detail_id]) VALUES (85, CAST(N'2023-12-19T13:30:37.6912835' AS DateTime2), 20, CAST(N'2023-12-19T13:31:27.7642319' AS DateTime2), 14, 7)
INSERT [dbo].[cart] ([id], [create_date], [quantity], [update_date], [account_id], [product_detail_id]) VALUES (93, CAST(N'2024-05-20T22:04:07.9130612' AS DateTime2), 1, CAST(N'2024-05-20T22:04:07.9130612' AS DateTime2), 5, 109)
SET IDENTITY_INSERT [dbo].[cart] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [code], [name], [status], [delete_flag]) VALUES (1, N'TL1', N'Áo Len', 1, NULL)
INSERT [dbo].[category] ([id], [code], [name], [status], [delete_flag]) VALUES (2, N'TL2', N'Áo Polo', 1, NULL)
INSERT [dbo].[category] ([id], [code], [name], [status], [delete_flag]) VALUES (3, N'TL3', N'Áo Hobbies', 0, NULL)
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[color] ON 

INSERT [dbo].[color] ([id], [code], [name], [delete_flag]) VALUES (1, N'M1', N'Màu đỏ', NULL)
INSERT [dbo].[color] ([id], [code], [name], [delete_flag]) VALUES (2, N'M2', N'Màu Xanh', NULL)
INSERT [dbo].[color] ([id], [code], [name], [delete_flag]) VALUES (3, N'M3', N'Màu đenx', 0)
SET IDENTITY_INSERT [dbo].[color] OFF
GO
SET IDENTITY_INSERT [dbo].[customer] ON 

INSERT [dbo].[customer] ([id], [code], [email], [name], [phone_number]) VALUES (1, N'KH0001', NULL, N'Nguyễn Sáng ', N'09999999')
INSERT [dbo].[customer] ([id], [code], [email], [name], [phone_number]) VALUES (2, N'KH0002', NULL, N'Mai Hoàng Phương Anh', N'0332228003')
INSERT [dbo].[customer] ([id], [code], [email], [name], [phone_number]) VALUES (3, N'KH0003', NULL, N'Trương Xuân Phương', N'054329854')
SET IDENTITY_INSERT [dbo].[customer] OFF
GO
INSERT [dbo].[discount_code] ([id], [code], [delete_flag], [detail], [discount_amount], [end_date], [maximum_amount], [maximum_usage], [minimum_amount_in_cart], [percentage], [start_date], [status], [type]) VALUES (1, N'Sinh nhật 1 tuổi', 0, NULL, NULL, CAST(N'2024-09-17T00:00:00.0000000' AS DateTime2), 300000, 111, 350000, 100, CAST(N'2024-05-17T00:00:00.0000000' AS DateTime2), 1, 1)
INSERT [dbo].[discount_code] ([id], [code], [delete_flag], [detail], [discount_amount], [end_date], [maximum_amount], [maximum_usage], [minimum_amount_in_cart], [percentage], [start_date], [status], [type]) VALUES (2, N'Noel1', 0, NULL, NULL, CAST(N'2023-12-31T00:00:00.0000000' AS DateTime2), 300000, 89, 350000, 10, CAST(N'2023-12-06T00:00:00.0000000' AS DateTime2), 1, 1)
INSERT [dbo].[discount_code] ([id], [code], [delete_flag], [detail], [discount_amount], [end_date], [maximum_amount], [maximum_usage], [minimum_amount_in_cart], [percentage], [start_date], [status], [type]) VALUES (3, N'NOEL VUI VE', 0, NULL, 800, CAST(N'2024-05-27T00:00:00.0000000' AS DateTime2), NULL, 89, 398000, NULL, CAST(N'2024-05-26T00:00:00.0000000' AS DateTime2), 1, 2)
GO
SET IDENTITY_INSERT [dbo].[image] ON 

INSERT [dbo].[image] ([id], [create_date], [file_type], [link], [name], [update_date], [product_id]) VALUES (1, CAST(N'2023-12-04T22:56:56.0825068' AS DateTime2), N'image/png', N'uploads/1701705416077_IMG_3145.PNG', N'1701705416077_IMG_3145.PNG', CAST(N'2023-12-04T22:56:56.0825068' AS DateTime2), 1)
INSERT [dbo].[image] ([id], [create_date], [file_type], [link], [name], [update_date], [product_id]) VALUES (2, CAST(N'2023-12-04T22:56:56.0855070' AS DateTime2), N'image/png', N'uploads/1701705416083_IMG_3146.PNG', N'1701705416083_IMG_3146.PNG', CAST(N'2023-12-04T22:56:56.0855070' AS DateTime2), 1)
INSERT [dbo].[image] ([id], [create_date], [file_type], [link], [name], [update_date], [product_id]) VALUES (3, CAST(N'2023-12-04T23:05:00.9932664' AS DateTime2), N'image/png', N'uploads/1701705900989_IMG_3147.PNG', N'1701705900989_IMG_3147.PNG', CAST(N'2023-12-04T23:05:00.9932664' AS DateTime2), 2)
SET IDENTITY_INSERT [dbo].[image] OFF
GO
SET IDENTITY_INSERT [dbo].[material] ON 

INSERT [dbo].[material] ([id], [code], [name], [status], [delete_flag]) VALUES (1, N'CT1', N'Sợi Tằm Bông', 1, NULL)
INSERT [dbo].[material] ([id], [code], [name], [status], [delete_flag]) VALUES (2, N'CT2', N'Kotton', 1, NULL)
INSERT [dbo].[material] ([id], [code], [name], [status], [delete_flag]) VALUES (3, N'CL3', N'Lông cừu', 0, NULL)
SET IDENTITY_INSERT [dbo].[material] OFF
GO
SET IDENTITY_INSERT [dbo].[payment] ON 

INSERT [dbo].[payment] ([id], [amount], [order_id], [order_status], [payment_date], [status_exchange], [bill_id]) VALUES (1, N'2050000.0', N'HdzCq1Gg', N'1', CAST(N'2023-12-05T00:07:26.0534457' AS DateTime2), 0, 1)
INSERT [dbo].[payment] ([id], [amount], [order_id], [order_status], [payment_date], [status_exchange], [bill_id]) VALUES (2, N'2950000.0', N'VOPnE8OB', N'1', CAST(N'2023-12-05T00:07:40.7317714' AS DateTime2), 0, 2)
INSERT [dbo].[payment] ([id], [amount], [order_id], [order_status], [payment_date], [status_exchange], [bill_id]) VALUES (3, N'2430000.0', N'xyHiKrDx', N'1', CAST(N'2023-12-05T00:08:16.1989757' AS DateTime2), 0, 3)
GO
SET IDENTITY_INSERT [dbo].[payment] OFF
GO
INSERT [dbo].[payment_method] ([id], [name], [status]) VALUES (1, N'TIEN_MAT', 1)
INSERT [dbo].[payment_method] ([id], [name], [status]) VALUES (3, N'CHUYEN_KHOAN', 1)
INSERT [dbo].[payment_method] ([id], [name], [status]) VALUES (4, N'THE', 1)
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([id], [code], [create_date], [delete_flag], [describe], [gender], [name], [price], [status], [updated_date], [brand_id], [category_id], [material_id]) VALUES (1, N'SP0001', CAST(N'2023-12-04T22:56:56.2352783' AS DateTime2), 0, N'', 3, N'Áo Len Hàn Basic', 450000, 1, CAST(N'2023-12-04T22:56:56.2352783' AS DateTime2), 1, 1, 1)
INSERT [dbo].[product] ([id], [code], [create_date], [delete_flag], [describe], [gender], [name], [price], [status], [updated_date], [brand_id], [category_id], [material_id]) VALUES (2, N'SP0002', CAST(N'2023-12-04T23:05:01.0862855' AS DateTime2), 0, N'', 1, N'Áo polo form đẹp', 540000, 1, CAST(N'2023-12-04T23:05:01.0862855' AS DateTime2), 2, 2, 2)
INSERT [dbo].[product] ([id], [code], [create_date], [delete_flag], [describe], [gender], [name], [price], [status], [updated_date], [brand_id], [category_id], [material_id]) VALUES (3, N'SP0003', CAST(N'2023-12-04T23:14:01.6694339' AS DateTime2), 0, N'', 1, N'Áo Polo In Họa Tiết Form Regular PO117', 450000, 1, CAST(N'2023-12-04T23:14:01.6694339' AS DateTime2), 2, 2, 2)
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[product_detail] ON 

INSERT [dbo].[product_detail] ([id], [barcode], [price], [quantity], [color_id], [product_id], [size_id]) VALUES (1, N'950522995873', 450000, 89, 3, 1, 2)
INSERT [dbo].[product_detail] ([id], [barcode], [price], [quantity], [color_id], [product_id], [size_id]) VALUES (2, N'818057059244', 550000, 78, 3, 1, 1)
INSERT [dbo].[product_detail] ([id], [barcode], [price], [quantity], [color_id], [product_id], [size_id]) VALUES (3, N'255221259599', 500000, 71, 3, 1, 4)
GO
SET IDENTITY_INSERT [dbo].[product_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[product_discount] ON 

INSERT [dbo].[product_discount] ([id], [closed], [discounted_amount], [end_date], [start_date], [product_detail_id]) VALUES (1, 0, 405000, CAST(N'2026-04-30T07:00:00.0000000' AS DateTime2), CAST(N'2026-04-25T07:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[product_discount] ([id], [closed], [discounted_amount], [end_date], [start_date], [product_detail_id]) VALUES (2, 0, 555, CAST(N'2024-05-31T07:00:00.0000000' AS DateTime2), CAST(N'2024-05-27T07:00:00.0000000' AS DateTime2), 2)
INSERT [dbo].[product_discount] ([id], [closed], [discounted_amount], [end_date], [start_date], [product_detail_id]) VALUES (3, 0, 432000, CAST(N'2023-12-31T07:00:00.0000000' AS DateTime2), CAST(N'2023-12-17T07:00:00.0000000' AS DateTime2), 4)
SET IDENTITY_INSERT [dbo].[product_discount] OFF
GO
SET IDENTITY_INSERT [dbo].[return_detail] ON 

INSERT [dbo].[return_detail] ([id], [moment_price_refund], [quantity_return], [return_id], [product_detail_id]) VALUES (1, NULL, 1, 1, 8)
INSERT [dbo].[return_detail] ([id], [moment_price_refund], [quantity_return], [return_id], [product_detail_id]) VALUES (2, NULL, 1, 2, 34)
INSERT [dbo].[return_detail] ([id], [moment_price_refund], [quantity_return], [return_id], [product_detail_id]) VALUES (3, NULL, 1, 5, 2)
SET IDENTITY_INSERT [dbo].[return_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([id], [create_date], [name], [update_date]) VALUES (1, NULL, N'ROLE_ADMIN', NULL)
INSERT [dbo].[role] ([id], [create_date], [name], [update_date]) VALUES (2, NULL, N'ROLE_EMPLOYEE', NULL)
INSERT [dbo].[role] ([id], [create_date], [name], [update_date]) VALUES (3, NULL, N'ROLE_USER', NULL)
SET IDENTITY_INSERT [dbo].[role] OFF
GO
SET IDENTITY_INSERT [dbo].[size] ON 

INSERT [dbo].[size] ([id], [code], [name], [delete_flag]) VALUES (1, N'KC1', N'M', NULL)
INSERT [dbo].[size] ([id], [code], [name], [delete_flag]) VALUES (2, N'KC2', N'XL', NULL)
INSERT [dbo].[size] ([id], [code], [name], [delete_flag]) VALUES (3, N'KC3', N'S', NULL)
SET IDENTITY_INSERT [dbo].[size] OFF
GO
SET IDENTITY_INSERT [dbo].[verification_code] ON 

INSERT [dbo].[verification_code] ([id], [code], [expiry_time], [account_id]) VALUES (1, N'720819', CAST(N'2023-12-14T20:22:15.5485788' AS DateTime2), 13)
INSERT [dbo].[verification_code] ([id], [code], [expiry_time], [account_id]) VALUES (2, N'793082', CAST(N'2024-05-27T22:27:27.2925948' AS DateTime2), 20)
INSERT [dbo].[verification_code] ([id], [code], [expiry_time], [account_id]) VALUES (3, N'589686', CAST(N'2026-04-23T00:14:32.6846000' AS DateTime2), 21)
SET IDENTITY_INSERT [dbo].[verification_code] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_k9qlqijt38kmryafdhhq04lon]    Script Date: 26/04/2026 12:04:43 CH ******/
ALTER TABLE [dbo].[account] ADD  CONSTRAINT [UK_k9qlqijt38kmryafdhhq04lon] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD  CONSTRAINT [FKd4vb66o896tay3yy52oqxr9w0] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[account] CHECK CONSTRAINT [FKd4vb66o896tay3yy52oqxr9w0]
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD  CONSTRAINT [FKnnwpo0lfq4xai1rs6887sx02k] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([id])
GO
ALTER TABLE [dbo].[account] CHECK CONSTRAINT [FKnnwpo0lfq4xai1rs6887sx02k]
GO
ALTER TABLE [dbo].[address_shipping]  WITH CHECK ADD  CONSTRAINT [FKq133otkfjvualo1uhtdimlsj0] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([id])
GO
ALTER TABLE [dbo].[address_shipping] CHECK CONSTRAINT [FKq133otkfjvualo1uhtdimlsj0]
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD  CONSTRAINT [FKcdveik90g4pvk7m249scu73pg] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([id])
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [FKcdveik90g4pvk7m249scu73pg]
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD  CONSTRAINT [FKmn36kcnhdokvrm6ueo3raqi9k] FOREIGN KEY([payment_method_id])
REFERENCES [dbo].[payment_method] ([id])
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [FKmn36kcnhdokvrm6ueo3raqi9k]
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD  CONSTRAINT [FKqjtxrp32iyvl31q2cr3l3refa] FOREIGN KEY([discount_code_id])
REFERENCES [dbo].[discount_code] ([id])
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [FKqjtxrp32iyvl31q2cr3l3refa]
GO
ALTER TABLE [dbo].[bill_detail]  WITH CHECK ADD  CONSTRAINT [FK5wgs68xq0wq0ebia10snilq9v] FOREIGN KEY([product_detail_id])
REFERENCES [dbo].[product_detail] ([id])
GO
ALTER TABLE [dbo].[bill_detail] CHECK CONSTRAINT [FK5wgs68xq0wq0ebia10snilq9v]
GO
ALTER TABLE [dbo].[bill_detail]  WITH CHECK ADD  CONSTRAINT [FKeolgwyayei3o80bb7rj7t207q] FOREIGN KEY([bill_id])
REFERENCES [dbo].[bill] ([id])
GO
ALTER TABLE [dbo].[bill_detail] CHECK CONSTRAINT [FKeolgwyayei3o80bb7rj7t207q]
GO
ALTER TABLE [dbo].[bill_return]  WITH CHECK ADD  CONSTRAINT [FKmt15w62mdy6k5x6i1a3297egn] FOREIGN KEY([bill_id])
REFERENCES [dbo].[bill] ([id])
GO
ALTER TABLE [dbo].[bill_return] CHECK CONSTRAINT [FKmt15w62mdy6k5x6i1a3297egn]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FK4pljlvncf45mr98etwpubxvbt] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FK4pljlvncf45mr98etwpubxvbt]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FK874r4t3ct18p0rfjwdkn4p0xe] FOREIGN KEY([product_detail_id])
REFERENCES [dbo].[product_detail] ([id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FK874r4t3ct18p0rfjwdkn4p0xe]
GO
ALTER TABLE [dbo].[image]  WITH CHECK ADD  CONSTRAINT [FKgpextbyee3uk9u6o2381m7ft1] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[image] CHECK CONSTRAINT [FKgpextbyee3uk9u6o2381m7ft1]
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD  CONSTRAINT [FKhdc173udjyonn4mt1lgt1x2ce] FOREIGN KEY([bill_id])
REFERENCES [dbo].[bill] ([id])
GO
ALTER TABLE [dbo].[payment] CHECK CONSTRAINT [FKhdc173udjyonn4mt1lgt1x2ce]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK1mtsbur82frn64de7balymq9s] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK1mtsbur82frn64de7balymq9s]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FKs6cydsualtsrprvlf2bb3lcam] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FKs6cydsualtsrprvlf2bb3lcam]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FKw04fq456sc4tk26tnbhvr59o] FOREIGN KEY([material_id])
REFERENCES [dbo].[material] ([id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FKw04fq456sc4tk26tnbhvr59o]
GO
ALTER TABLE [dbo].[product_detail]  WITH CHECK ADD  CONSTRAINT [FK99vj2np1gk1robp8n6htiweii] FOREIGN KEY([color_id])
REFERENCES [dbo].[color] ([id])
GO
ALTER TABLE [dbo].[product_detail] CHECK CONSTRAINT [FK99vj2np1gk1robp8n6htiweii]
GO
ALTER TABLE [dbo].[product_detail]  WITH CHECK ADD  CONSTRAINT [FKcum8u2vfvebmmc4xo8de3k35s] FOREIGN KEY([size_id])
REFERENCES [dbo].[size] ([id])
GO
ALTER TABLE [dbo].[product_detail] CHECK CONSTRAINT [FKcum8u2vfvebmmc4xo8de3k35s]
GO
ALTER TABLE [dbo].[product_detail]  WITH CHECK ADD  CONSTRAINT [FKilxoi77ctyin6jn9robktb16c] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[product_detail] CHECK CONSTRAINT [FKilxoi77ctyin6jn9robktb16c]
GO
ALTER TABLE [dbo].[product_discount]  WITH CHECK ADD  CONSTRAINT [FK7v5t5uc0v7ww6ro8pxoustui6] FOREIGN KEY([product_detail_id])
REFERENCES [dbo].[product_detail] ([id])
GO
ALTER TABLE [dbo].[product_discount] CHECK CONSTRAINT [FK7v5t5uc0v7ww6ro8pxoustui6]
GO
ALTER TABLE [dbo].[return_detail]  WITH CHECK ADD  CONSTRAINT [FK1d0fsi5xn9qokf0vmd0ni28n] FOREIGN KEY([return_id])
REFERENCES [dbo].[bill_return] ([id])
GO
ALTER TABLE [dbo].[return_detail] CHECK CONSTRAINT [FK1d0fsi5xn9qokf0vmd0ni28n]
GO
ALTER TABLE [dbo].[return_detail]  WITH CHECK ADD  CONSTRAINT [FKkgwtlbgm9ho0njhx5nsq0s589] FOREIGN KEY([product_detail_id])
REFERENCES [dbo].[product_detail] ([id])
GO
ALTER TABLE [dbo].[return_detail] CHECK CONSTRAINT [FKkgwtlbgm9ho0njhx5nsq0s589]
GO
ALTER TABLE [dbo].[verification_code]  WITH CHECK ADD  CONSTRAINT [FKn1v88epjv0xug2pr7nwamcboh] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[verification_code] CHECK CONSTRAINT [FKn1v88epjv0xug2pr7nwamcboh]
GO
USE [master]
GO
